<!doctype html>
{% load static %}
<html lang="fr">

<head>
    <meta charset="utf -8">
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    {% endblock %}
</head>

<style>
    .navbar{
        color: white;
    }
    li{
        list-style-type: none;
        margin-right: 10px;
    }
</style>
<body>
    {% block nav %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'product-list' %}">Produits</a>
                </li>
            </ul>
        </div>
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Déconnexion</a>
        </li>
        {%else%}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Connexion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Inscription</a>
        </li>
        {%endif%}
    </nav>
    {% endblock %}
    <main role="main" class="container top-pushed">
        <div class="mt-4 p-5 bg-primary text-white rounded">
            {% block contenu %}
            {% endblock %}
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <p>&copy; Copyright {% now "M Y" %} by Titof Production Copyrigh (c)</p>
        </div>
    </footer>
</body>

</html>