<!-- commande_produit.html -->
{% extends 'base.html' %}

{% block title %}Commander le produit {{ product.name }}{% endblock %}

{% block contenu %}
<div class="container">
    <h1>Commander le produit {{ product.name }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ commande_form.as_p }}
        
        <h3>Produits dans la commande</h3>
        {{ commandeproduit_formset.management_form }}
        <table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Quantité</th>
                </tr>
            </thead>
            <tbody>
                {% for form in commandeproduit_formset.forms %}
                <tr>
                    <td>{{ form.produit }}</td>
                    <td>{{ form.quantite }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Enregistrer la commande</button>
    </form>
</div>
{% endblock %}
