{% extends 'base.html' %}
{% block title %}
Mon application DJANGO
{% endblock %}
{% block menu %}
<h1>{{titremenu}}</h1>
{% endblock %}
{% block contenu %}
<h2>{{ product.name }}</h2>
<a href="{% url 'product-list' %}">Retour à la liste des produits</a>
<style>
    a {
        color: black;
    }
</style>
<ul>
    <li>Code : {{ product.code }}</li>
    <li>Prix HT : {{ product.price_ht }}</li>
    <li>Prix TTC: {{ product.price_ttc }}</li>
    <li>Date de création : {{ product.date_creation }}</li>
</ul>
{% endblock %}