{% extends 'base.html' %}
{% block title %}
Mon application DJANGO
{% endblock %}
{% block menu %}
<h1>{{titremenu}}</h1>
{% endblock %}
{% block contenu %}
<h2>{{ productitem.code }}</h2>
<ul>
<li>Produit : {{ productitem.product }}</li>
{% for attribute in attributes %}
<li>{{ attribute.product_attribute.name }} : {{ attribute.value }}</li>
{% empty %}
<li>Aucun attribut associé à cette déclinaison.</li>
{% endfor %}
</ul>
<a href="{% url 'item-list' %}" class="btn btn-primary mt-2">Retour</a>
{% endblock %}