{% extends 'base.html' %}
{% block contenu %} <table class="table">
    <thead>
        <th>Code</th>
        <th>Produit</th>
        <th>Attributs associés</th>
        <th>Actions</th>
    </thead>
    <tbody>
        {% for item in productitems %} <tr>
            <td>{{ item.code }}</a></td>
            <td>{{ item.product.name }}</a></td>
            <td>{% for attribute in item.attributes.all %}
                <p>{{ attribute.product_attribute.name }} : {{attribute.value }}</p> {% empty %}
                <p>Aucune valeur</p>
                {% endfor %}
            </td>
            <td>
                <a href="{% url 'detail-item' item.id %}" class="btn btn-primary mt-2">Détails</a>
            </td>
        </tr> {% endfor %}
    </tbody>
</table>
{% endblock %}