{% extends 'base.html' %}

{% block title %}Liste des Produits{% endblock %}

{% block contenu %}
<div class="container">
    <h1>Liste des Produits</h1>
    <form method="GET" action="">
        <div class="input-group mb-3">
            <input class="form-control" type="text" name="search" placeholder="Rechercher un produit..." value="{{ request.GET.search }}">
            <button type="submit" class="btn btn-success ml-2">Rechercher</button>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Code</th>
                <th>Prix HT</th>
                <th>Prix TTC</th>
                <th>Stock</th>
                <th>Date de Création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for prdct in products %}
            <tr>
                <td><a href="{% url 'product-detail' prdct.id %}">{{ prdct.name }}</a></td>
                <td>{{ prdct.code }}</td>
                <td>{{ prdct.price_ht }} €</td>
                <td>{{ prdct.price_ttc }} €</td>
                <td>{{ prdct.stock }}</td>
                <td>{{ prdct.date_creation|date:"d/m/Y H:i" }}</td>
                <td>
                    <a href="{% url 'product-update' prdct.id %}" class="btn btn-sm btn-warning">Modifier</a>
                    <a href="{% url 'product-delete' prdct.id %}" class="btn btn-sm btn-danger">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'product-add' %}" class="btn btn-primary">Ajouter un nouveau produit</a>
</div>
{% endblock %}
