{% block contenu %}
<table class="table">
    <thead>
        <th>Code</th>
        <th>Produit</th>
        <th>Attributs associés</th>
        <th>Actions</th>
    </thead>
    <tbody>
        {% for item in productitems %}
        <tr>
            <td>{{ item.code }}</a></td>
            <td>{{ item.product.name }}</a></td>
            <td>{% for attribute in item.attributes.all %}
                <p>{{ attribute.product_attribute.name }} : {{attribute.value }}</p>
                {% empty %}
                <p>Aucune valeur</p>
                {% endfor %}
            </td>
            <td>
                <a href="{% url 'item-detail' item.id %}" class="btn btn-primary mt-2">Détails</a>
                <a href="{% url 'item-update' item.id %}" class="btn btn-warning mt-2">Modifier</a>
                <a href="{% url 'item-delete' item.id %}" class="btn btn-danger mt-2">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}