{% extends 'base.html' %}

{% block title %}Supprimer le Produit{% endblock %}

{% block contenu %}
<div class="container">
    <h1>Suppression du Produit</h1>
    <form action="" method="post">
        {% csrf_token %}
        <p>Êtes-vous sûr de vouloir supprimer le produit : <strong>{{ object.name }}</strong> ?</p>
        <button type="submit" class="btn btn-danger">Confirmer</button>
        <a href="{% url 'product-list' %}" class="btn btn-primary">Annuler</a>
    </form>
</div>
{% endblock %}
